* {
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

nav {
  background-color: white;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin-right: auto;
  margin-left: 5vh;
}

.links {
  margin-right: 5vh;
}

.links a {
  text-decoration: none;
  color: black;
  padding-left: 2vh;
}

body {
  background: linear-gradient(to right, #6930c3, #5390d9);
  /* background-color: #5e60ce; */
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4vh;
  column-gap: 4vh;
  height: 80vh;
  padding: 5vh;
}

.item {
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 1vh 3vh;
  border-radius: 2vh;
  background-color: white;
  max-height: 80vh;
}

.expenses {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.linegraph {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow-y: scroll;
}

.linegraph li {
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
  padding: 1vh 3vh;
  margin: 3vh;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding: 0;
}

form label {
  font-weight: 700;
  font-size: 1.2em;
}

input,
select {
  border: none;
  border-radius: 7px;
  padding: 5px 7px;
  font-size: 1.1em;
}

input[type="text"],
input[type="number"],
select {
  outline: none;
}

#submit {
  width: 80%;
  border: none;
  background: rgb(78, 168, 222);
  background: linear-gradient(90deg,
      rgba(78, 168, 222, 1) 0%,
      rgba(86, 207, 225, 1) 100%);
  padding: 10px 28px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 7px;
  font-size: 1.2em;
}

.formsection {
  padding: 3px;
}

@media (max-width: 414px) {
  * {
    overflow-y: auto;
  }

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .items {
    overflow: hidden;
  }

  .linegraph {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  nav {
    flex-direction: column;
    height: auto;
  }

  h1 {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1vh;
    margin-top: 2vh;
    font-size: 2em;
  }

  .links {
    margin-right: 0;
    margin-bottom: 1vh;
  }

  .nav-links.home {
    padding-left: 0;
  }
}

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 25vh;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2vh;
  /* Rounded borders */
  padding: 2vh 3vh 2vh 3vh;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  /* Center the snackbar */
  bottom: 3vh;
  /* 30px from the bottom */
  font-family: 'Poppins', sans-serif;
  /* Changes font */
  font-weight: bold;
  /* Changes fonts weight to bold */
  font-size: 2vh;
  /* Changes font size */

}


/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}




.remove {

  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  background: none;
  outline: none;
  border: none;

}

svg {
  position: relative;
  width: 3vh;
  height: auto;
}

svg:hover {
  top: 0.1vh;
  fill: gray;

}





/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}